//colores verdes
$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;
//colores bandera de ecuador
$color-primary-yellow:  #ffb900;
$color-primary-yellow-light: #d5c66fd3;
$color-primary-blue: #2870b4b0;
$color-primary-blue-light: #2998ff;
$color-primary-red: #b42828d5;
$color-primary-red-light: #FF8166;
//colores para tipografia 
$color-grey:#777;
$color-grey-light-2:#eee;
$color-white: #fff;
$color-black: #000; 
$color-grey-light-1: #f7f7f7;

//font sizes
$default-font-size:1.6rem;

//grids
$row-width: 114rem;
$gutter-horizontal: 6rem;
$gutter-vertical: 5rem;